body {
  background-color: lightgray;
}
header {
  font-size: 3em;
}

h6 {
  font-size: .5em;
}

hr {
  height: 5px;
  background-color: green;
}
.profile-picture img {
height: 220px;

}

.correct {
  color: green;
}

.incorrect {
  color: red;
}