body {
  background-color: grey;
}
h6 {
  font-size: .5em;
  
}
hr {
  height: 5px;
  background-color: green;
}
/* Header Elements */
.flexbox-container-header {
  display: flex;
  justify-content: space-between;
  border: 3px black;
  background-color: grey;
}
.flexbox-item-header {
  font-size: 40px;
  width: 30%;
  padding-left: 10%;
  padding-right: 10%;
  border: 3px black;
  background-color:white;
}
.flexbox-item-nav-bar{
  color: black;
  border: 3px black;
  background-color:white;
  width: 25%
  
}
 /* Profile Picture/Bio/Goals */
.flexbox-container-profile-bio-goals {
  display: flex;
  justify-content:space-around;
  width: 100%;
  border: 3px black;
  background-color: grey;
  
}
.flexbox-item-profile  {
  border: 3px black;;
  flex-grow: 1;
  margin: 0px;
}
.flexbox-item-profile img {
  object-fit: cover;
  width: 62%;
  position: relative;
  left: 18%;
}
.flexbox-container-bio-goals {
  align-items: stretch;
  background-color: grey;
  flex: 5;
}
.flexbox-item-bio {
  flex: 2;
  border: 3px black;

}
.flexbox-item-goals {
  flex: 1;
  border: 3px black;

}
/* Education */
.education {
  text-align: center;
  list-style: none;
}
.education li {
list-style: none;
}
/* work Experience */
.work-experience {
  text-align: center;
  list-style: none;
}
.work-experience li {
list-style: none;
}
/* top-ten-list */
.top-10 {
  text-align: center;
  list-style: none;
}
.top-10 li {
list-style: none;
}

.flexbox-item-nav-bar li {
  font-size: 16px;
  margin-right: 42px;
  display: inline-block;
  list-style: none;
}
